FEATHERLESS_API_KEY=your_featherless_api_key_here

CASPIAN_API_KEY=your_caspian_api_key_here
CASPIAN_BASE_URL=your_caspian_base_url_here

CASPIAN_CONVERSATION_ID=your_discord_conversation_id_here
CASPIAN_DISCORD_CONNECTION_ID=your_discord_connection_id_here

CASPIAN_EMAIL_CONNECTION_ID=your_email_connection_id_here
CASPIAN_EMAIL_RECIPIENT=your_email_address_here